SIDEMESH_LABEL=MacBook
SIDEMESH_PORT=8787
SIDEMESH_TOKEN=
SIDEMESH_CODEX_BIN=codex
SIDEMESH_RECOMMENDED_MOBILE_CLIENT_VERSION=
SIDEMESH_MINIMUM_MOBILE_CLIENT_VERSION=
SIDEMESH_TERMINAL=0
SIDEMESH_TERMINAL_SHELL=
SIDEMESH_TERMINAL_REQUIRE_PTY=0
