node_modules/
dist/
artifacts/
.DS_Store
pnpm-lock.yaml

apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/ios/Flutter/Signing.local.xcconfig
.config/
apps/mobile/.config/
apps/mobile/.flutter
worktrees/
